@using Glass.Mapper.Sc
@using ScWebApi.Domain.Models.sitecore.templates.ScWebApi.Pages
@using ScWebApi.Domain.Models.sitecore.templates.ScWebApi.Shared_Content.Items
@inherits Glass.Mapper.Sc.Web.Mvc.GlassView<ScWebApi.Web.ViewModels.Search.SearchResultsViewModel>

<script type="text/javascript">
    var resultsAndFacetsJson = @Html.Raw(Model.ResultsAndFacetsJson)
</script>

@{
    var product = ContextItem.GlassCast<IProducts_Landing_Page>().Children.FirstOrDefault() as IProduct;

    var homepage = this.SitecoreContext.GetHomeItem<IHome_Page>();

    var methodChildren = homepage.GetChildren().ToList();

    var attributeChildren = homepage.InterfaceChildren.ToList();
}

@Editable(product, i => i.Description)

<hr/>

methodChildren.Count(): @methodChildren.Count

<br/>

@foreach (var child in methodChildren)
{
    var isSet = child != null;
    
    <div>isSet: @isSet</div>
}

<hr/>

attributeChildren.Count(): @attributeChildren.Count

@foreach (var child in attributeChildren)
{
    var isSet = child != null;

    <div>isSet: @isSet</div>
}

<div class="row">
    <div class="col-sm-3">
        <h2>Facets</h2>

        <ul class="facet-categories" data-bind="foreach: orderedFacetCategories">
            <li>
                <h3 data-bind="text: name"></h3>

                <ul class="facets" data-bind="foreach: facets">
                    <li>
                        <label>
                            <input type="checkbox" data-bind="checkedValue: id"/>
                            <span data-bind="text: name"></span> (<span data-bind="text: count"></span>) <span class="sort-order" data-bind="text: '(' + sortOrder + ')'"></span>
                        </label>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-sm-9">
        <h2>
            Results (<span data-bind="text: totalSearchResults"></span>)
        </h2>

        <ul class="search-results" data-bind="foreach: orderedSearchResults">
            <li>
                <h3>
                    <span data-bind="text: name"></span> <span class="sort-order" data-bind="text: '(' + sortOrder + ')'"></span></h3>
                <label>List Price: $<span data-bind="text: listPrice"></span></label>
                <div data-bind="html: description"></div>
            </li>
        </ul>

        <nav>
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>


                <li>
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>


                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>